{% extends 'base.html' %}
{% load socialaccount %}

{% block title %}Вход{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2>Вход</h2>
    <form method="post" action="{% url 'users:login' %}">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Войти</button>
    </form>

    <hr>

    <h3>Войти с помощью</h3>
    <div>
        <a href="{% provider_login_url 'yandex' %}">Войти через Яндекс</a>
        <a href="{% provider_login_url 'github' %}">Войти через GitGHub</a>
    </div>

    <hr>

    <p>Нет аккаунта? <a href="{% url 'users:register' %}">Регистрация</a></p>
</div>
{% endblock %}
