{% extends 'base.html' %}
{% load socialaccount %}

{% block title %}Вход{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2>Вход</h2>
    <form method="post" action="{% url 'login' %}">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Войти</button>
    </form>

    <hr>

    <h3>Войти с помощью</h3>
    {% comment %} TODO: почему-то не отобржаются провайдеры {% endcomment %}
    <div>
        {% providers_media_js %}
        {% for provider in socialaccount_providers %}
            <a class="btn btn-outline-secondary" href="{% provider_login_url provider.id %}">
                Войти с помощью {{ provider.name }}
            </a>
        {% endfor %}
    </div>

    <hr>

    <p>Нет аккаунта? <a href="{% url 'register' %}">Регистрация</a></p>
</div>
{% endblock %}
